body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  header {
    $header-width: 300px;
    height: 100vh;
    width: $header-width;

    nav.sidebar {
      ul {
        list-style: none;
        padding: 0 10px;
        li {
          a {
            text-decoration: none;
            color: whitesmoke;
            &:hover {
              color: white;
            }
          }
          &.active > a {
            color: white;
          }
        }
        hr {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}

main {
  flex: 1;
}

footer {
  width: 100%;
}
