{% extends 'base_platform.html' %}
{% block title %}
{{session['username']}} • Exams
{% endblock %}
{% block body %}
{% include './student/navbar.html' %}
<main style="overflow-y: scroll !important ;">
    <div class="p-3">
        <div class="card p-3">
            <h3>Scheduled Exams</h3>
            <hr class="">
            <div class="row row-cols-5 g-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer text-muted">Ended</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-3 mt-3">
            <h3>Exam History</h3>
            <hr class="">
            <div class="row row-cols-5 g-2">
                {%for i in range(0, 5)%}
                <div class="col">
                    <div class="card border-success">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-white border-success">Attempted</div>
                    </div>
                </div>
                {%endfor%}
                {%for i in range(0, 15)%}
                <div class="col">
                    <div class="card border-danger">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-white border-danger text-danger">Expired</div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    {% include './footer.html' %}
</main>
</div>

{% endblock %}