<header class="bg-dark p-3">
    <div class="logo"><img src="" alt="" height="60" width="60" alt="Dashboard&nbsp;Logo" title="Dashboard&nbsp;Logo">
    </div>
    <nav class="sidebar mt-3">
        <ul class="border-light">
            <li class="mb-3"><a href="dashboard">Dashboard</a></li>
            <li class="mb-3"><a href="exam/demo">Give Exam</a></li>
            <li class="mb-3"><a href="exams">Exams</a></li>
            <li class="mb-3"><a href="results" disabled>Results</a></li>
            <hr class="mb-3">
            <li class="mb-3"><a href="/payments">Payments</a></li>
            <li class="mb-3"><a href="/report-problem">Report Problems</a></li>
            <li class="mb-3"><a href="/accounts/password/reset">Change Password</a></li>
            <li class="mb-3"><a class="btn w-100 btn-danger" href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>